################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloWorld/.vs/HelloWorld/v17
/TestProject/.vs/TestProject/v17/Browse.VC.opendb
